@model MyBookApp.Models.Author

@{
    ViewData["Title"] = "Radera";
}

<h1 class="text-center mb-5">Radera</h1>

<p class="text-center" ><strong>Är du säker på att du vill radera denna författare?</strong></p>
<div class="p-1 mx-auto w-100 mw-70ch">
    <article  class="mb-4 p-3 border border-dark-subtle rounded">
        <h3 class="text-center">@Html.DisplayFor(model => model.Name)</h3>
    
        <form class="mx-auto w-fc mt-4" asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-action="Index">Tillbaka till listan</a>
        </form>
    </article>
</div>
