@{
    ViewData["Title"] = "Välkommen";
}

<div class="text-center" id="bg-image">
    <div class="p-3 bg-black text-light bg-opacity-50 w-fc mx-auto rounded h-100 w-100 d-flex flex-column justify-content-center">
        <h1  class="text-center mb-5">Välkommen!</h1>
        <p class="mw-70ch mx-auto">
            Här kan du utforska min boksamling, se mer information om varje bok via "Detaljer" och även låna böcker!
        </p>
    </div>
</div>
