@model MyBookApp.Models.Book

@{
    ViewData["Title"] = "Lägg till bok";
}

<h1 class="text-center mb-5">Lägg till bok</h1>

<div class="container mx-auto mw-70ch">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group mb-2">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Genre" class="control-label"></label>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="AuthorId" class="control-label">Författare</label>
            <select asp-for="AuthorId" class ="form-control" asp-items="ViewBag.AuthorId"></select>
        </div>
        <div class="form-group my-4 mx-auto w-fc">
            <input type="submit" value="Lägg till" class="btn btn-success" />
        </div>
    </form>
    <div>
        <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-action="Index">Tillbaka till listan</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
