@model MyBookApp.Models.Book

@{
    ViewData["Title"] = "Redigera";
}

<h1 class="text-center mb-5">Redigera bok</h1>

<div  class="container mx-auto mw-70ch">
    <form class="w-100" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group mb-2">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Genre" class="control-label"></label>
            <input asp-for="Genre" class="form-control" />
            <span asp-validation-for="Genre" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group mb-2">
            <label asp-for="AuthorId" class="control-label">Författare</label>
            <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId"></select>
            <span asp-validation-for="AuthorId" class="text-danger"></span>
        </div>
        <div class="form-group my-4 mx-auto w-fc">
            <input type="submit" value="Spara" class="btn btn-success" />
        </div>
    </form>
    <div>
        <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-action="Index">Tillbaka till listan</a>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
